system_restricted_prop(system_exported_cleartext_prop);
system_restricted_prop(exported_keychords_prop);
system_restricted_prop(trust_restrict_usb_prop);
